* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;

  scroll-padding-top: 50px; /* fixed header height */
}

body {
  padding-top: 50px; /* fixed header height */
  color: #957dad;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em;
  width: 100%;
  height: 50px;
  background-color: #fec8d8;
}

section {
  padding: 1em;
  width: 100%;
  height: 100vh;
}

.sec01 {
  background-color: #ffdfd3;
}

.sec02 {
  background-color: #e0bbe4;
}
